---
import Socials from "@components/Socials.astro";

const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="flex justify-between">
    <ul class="links my-auto">
      <li><a href="/privacy-policy.pdf" class="privacy">Privacy Policy</a></li>
      <li><a href="" class="cookie">Cookie Settings</a></li>
    </ul>
    <div class="mt-auto flex flex-col items-end">
      <Socials
        classes={"links-socials flex gap-3 items-end text-4xl text-white"}
      />
      <p class="text-white text-small mt-3 text-right hidden md:block">
        © {year} - Southside Climbing, All rights reserved
      </p>
    </div>
  </div>
  <p class="text-white text-small mt-3 text-right md:hidden">
    © {year} - Southside Climbing, All rights reserved
  </p>
</footer>

<style lang="scss">
  .footer {
    background-color: #003f82;
    justify-content: space-between;
    padding: 1rem calc(1rem + 1vw);

    .links {
      list-style: none;
      font-family: "Mullish Variable", sans-serif;
      font-size: clamp(1.2rem, 1rem + 1vw, 1.2rem);
      margin-block: 0;
      padding-left: 0;

      a {
        color: #fefefe;

        text-decoration: none;
        list-style-type: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
</style>
