---
import Socials from "@components/Socials.astro";
---

<footer class="footer">
  <ul class="links">
    <li><a href="/privacy-policy.pdf" class="privacy">Privacy Policy</a></li>
    <li><a href="" class="cookie">Cookie Settings</a></li>
  </ul>
  <Socials
    classes={"links-socials flex gap-3 items-end text-4xl ml-auto text-white"}
  />
</footer>

<style lang="scss">
  .footer {
    background-color: #003f82;
    display: flex;
    justify-content: space-between;
    padding: calc(1rem + 1vw);
    margin-top: auto;

    .links {
      list-style: none;
      font-family: "Mullish Variable", sans-serif;
      font-size: clamp(1.2rem, 1rem + 1vw, 1.2rem);
      margin-block: 0;
      padding-left: 0;

      a {
        color: #fefefe;

        text-decoration: none;
        list-style-type: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
</style>
