---
import "@styles/base.scss";
import "@styles/type.scss";
import "@styles/sections.scss";
import "@styles/buttons.scss";
import "@styles/forms.scss";

import Favicon from "@components/frame/head/Favicon.astro";

import "@fontsource-variable/noto-sans-jp";

import "@fontsource-variable/mulish";
import "@fontsource/kalam/300.css";
import "@fontsource/kalam/400.css";
import "@fontsource/kalam/700.css";

const { title, description } = Astro.props;
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
}
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<ViewTransitions />
<Favicon />
