@import "../node_modules/bootstrap/scss/functions";
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/_type";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Mulish Variable', sans-serif;
    // min-width: 320px;
}

header {
    // padding-top: 100px;
    min-height: 100%;
}

// * {
//     border: 1px solid rgba(255, 0, 0, 0.37);
// }


p {
    font-size: 18px;
    // white-space: wrap;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.cont-pad {
    font-size: clamp(1.4rem, 1.375rem + 1.5vw, 2.5rem);
    padding: 0.25em 0.75em;
}

.cont-pad-lg {
    font-size: clamp(1.4rem, 1.375rem + 1.5vw, 2.5rem);
    padding: 0.75em 1.25em;

    @media (max-width: 768px) {
        padding: .5em;
    }
}


.shadow-solid-blue {
    box-shadow: 0.2em 0.2em #0d5097;
}

.hide-small {
    display: inline;

    @media (max-width: 768px) {
        display: none;
    }

}

.hide-medium {
    display: inline;

    @media (max-width: 992px) {
        display: none;
    }

}