.h1 {
    font-size: clamp(2rem, 2.75vw + 1rem, 4rem);
}

.h2 {
    font-size: clamp(1.8rem, 1rem + 2.25vw, 3.1748rem);
}

.h3 {
    font-size: clamp(1.6rem, 1rem + 1.75vw, 2.5198rem);
}

.h4 {
    font-size: clamp(1.4rem, 1rem + 1.25vw, 2rem);
}

.h5 {
    font-size: clamp(1.2rem, 1rem + .75vw, 1.5874rem);
}

.lead {
    font-size: clamp(1.125rem, 1rem + .5vw, 1.35rem);
}

.h6 {
    font-size: clamp(1rem, 1rem + .25vw, 1.25rem);
}

.small {
    font-size: clamp(.8rem, .8rem + .125vw, 1rem);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.lead {
    line-height: 1.2;
}