---
import Frame from "../layouts/Frame.astro";
import Section from "../components/section/Section.astro";
---

<Frame title="Southside Climbing" desc="Desecritption">
  <Section image="" imageAlt="" classes="">
    <h1 class="h1 mx-auto self-center py-10">Page Not Found</h1>
    <a href="/" class="btn mx-auto">Return to Home</a>
  </Section>
</Frame>
