---
import Frame from "../layouts/Frame.astro";
import Hero from "@components/home/Hero.astro";
import Upcoming from "@components/booking/Upcoming.astro";
import Event from "@components/booking/Event.astro";
import Reviews from "@components/page/Testimonials.astro";
import Section from "@components/page/Section.astro";
import Button from "@components/buttons/Button.astro";

import homeAbout from "@images/home-about.jpg";

import learnBelay from "@images/courses/toprope-course-thumb.jpg";

const reviewData = [
  {
    text: "We had a top rope session with Hayden in Portland for 4 people. Hayden made it very enjoyable for all participants, he is very attentive, helpful and genuinely interested in coaching people. We felt very safe and Hayden answered all our questions. Will be definitely coming back soon!",
    author: "Irina Sidorkina - July 2024",
  },
  {
    text: "It turned out to be an amazing day, well worth the money. After being shown the ropes (no pun intended), learning our knots and being given some amazing guidance and advice we came out of it confident we knew what we were doing and ready to book another session.",
    author: "Jamie De Vivo, April 2024",
  },
  {
    text: "We had a great day out with Hayden! Both of us were quite new to outdoor climbing. Hayden was very supportive and patient. He took us to a spot with lots of fun routes and amazing view. Highly recommended!",
    author: "Jo Yu - July 2024",
  },
  // Add more review objects here...
];
---

<Frame title="Southside Climbing" desc="Desecritption">
  <Hero />
  <Upcoming>
    <Event
      image={learnBelay}
      alt="A beginner wearing a helmet and harness, learning how climbing Portland rock as part of a top rope lesson"
      title="Learn To Belay Course"
      date="Sat 11th May 2023"
      time="09:30 - 16:30"
      place="Isle of Portland"
      age="16"
      price="£60/pp"
      href="/courses/learn-to-belay"
    />
  </Upcoming>
  <Section
    image={homeAbout}
    imageAlt="Hayden focusing on a climber as he is belaying, on a sunny at Portland"
    classes="blue-theme"
  >
    <h3 class="h2 m-0">Southside Story</h3>
    <p>
      Passionate about guiding aspiring climbers, Hayden creates a safe and
      supportive environment where you'll learn the ropes, conquer your fears,
      and push your skills to new heights. Hayden embarked on a mission to
      create the best beginner-friendly climbing experiences on the south coast. <span
        class="hidden md:inline"
        >After years of coaching and instructing indoors, he brought his
        expertise outdoors, starting courses at the stunning Isle of Portland,
        Dorset.
      </span>
    </p>
    <a href="/about" class="btn">More About Us</a>
  </Section>

  <Reviews title="Our Reviews" heading="h5" classes="" reviews={reviewData} />
</Frame>
