---
//: add 'book now' button function
//: colors need to be punchier like in illustrator
//: video first clip needs frame fix & maybe fade transitions

import ButtonPri from "@components/buttons/Button.astro";
---

<section class="hero-theme hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="display-5 mb-1 font-pandore">
        EXPERIENCE<br />ROCK CLIMBING<br /> IN <span class="text-bumble"
          >DORSET</span
        >
      </h1>
      <div class="buttons">
        <a href="#upcoming-courses" class="btn h5"> Book Now</a>
        <a href="/courses" class="btn h5"> See Courses</a>
      </div>
    </div>
    <video
      autoplay
      loop
      src="/media/video/hero-trailer.webm"
      class="trailer"
      muted></video>
  </div>
</section>

<style lang="scss">
  .hero {
    background-image: linear-gradient(#004fa6, #005bbd);
    padding: 0;
    z-index: 0;
  }

  .hero-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    // max-height: 80vh;
  }

  .hero-content {
    align-content: center;
    // max-width: fit-content;
    // padding: 0em 0 0 5vw;
    white-space: nowrap;
    margin: 0 auto;
  }

  .buttons {
    display: flex;
    gap: 1em;
  }

  .trailer {
    // max-width: 50vw;
    max-width: clamp(1px, 50%, 600px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-right: 0;
  }

  @media (max-width: 640px) {
    .hero {
      flex-direction: column-reverse;
      height: max-content;
      max-height: unset;
      position: relative;
      .hero-content {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 5%;
        background-color: #005bbd81;
      }
    }

    .trailer {
      max-width: 100%;
      // max-height: 950px;
      min-height: 490px;
      aspect-ratio: 1 / 1.1;
    }
  }
</style>
