---
import { Image } from "astro:assets";

// import Heading from "@components/tags/Heading.astro";

const { image, imageAlt, classes } = Astro.props;
import './HeroSection.scss'
---

  <section class={"hero-section " + classes}>
    <div class={"section-layout"}>
      {
        image && (
            <img
              src={image}
              alt={imageAlt}
              class=`image `
            />
        )
      }
      <div class="content">
        <slot />
      </div>
    </div>
  </section>