---
const { href, classes } = Astro.props;
---

<li
  class=`md:pb-3 font-noto-sans text-2xl md:text-xl font-medium active:text-bumble hover:text-bumble transition-colors duration-300 ${classes}`
>
  {
    href ? (
      <a href={href}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</li>
