---
// import Heading from "@components/tags/Heading.astro";
import "@styles/sections.scss";

import { Image } from "astro:assets";

const { image, imageAlt, imageSize, classes } = Astro.props;

// const {
//   image,
//   imageAlt,
//   title,
//   headingLevel,
//   headingClass,
//   description,
//   button,
//   buttonUrl,
// } = Astro.props;
---

<section class=`section ${classes}`>
  <div class="section-layout">
    {
      image && (
        <div class="frame">
          <Image
            src={image}
            alt={imageAlt}
            class=`image `
          />
        </div>
      )
    }
    <div class="content">
      <slot />
    </div>

  </div>
</section>