---
import BaseHead from "@components/frame/head/Head.astro";
import Footer from "@components/frame/Footer.astro";
import Nav from "@components/frame/nav/Nav.astro";

const { title, metaTitle, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} metaTitle={metaTitle} description={description} />
    <meta name="ExtraHead" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script src="../scripts/modernizr-custom.js"></script>
  </head>
  <body class="overflow-x-hidden min-h-screen">
    <header id="header">
      <Nav />
    </header>
    <main id="main">
      <slot />
    </main>
    <Footer />
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        const header = document.querySelector("#header").offsetHeight;
        const footer = document.querySelector(".footer").offsetHeight;
        const main = document.querySelector("#main");
        main.style.minHeight = `calc(100vh - ${header + footer}px)`;
      });
    </script>
  </body>
</html>
